/* Filters Styles */
#filters_aaviewreports {
    font-family: "Hellix Medium", "Arial", sans-serif;
    font-size: 16px;
    width: 100% !important;
    color: #3b424a;
    outline: none;
}

#filters_aaviewreports label {
    margin: 0 0 10px;
    line-height: 24px;
    color: #8c949c;
    width: 230px;
    font-size: 16px;
    font-weight: 400;
}

.aaviewreport__wrap {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    flex-wrap: wrap;
}

.aaviewreport__wrap .chosen-container-multi ul.chosen-choices {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.aaviewreport__wrap .chosen-container .chosen-drop{
    border: 2px solid #f0eceb;
    margin-top: 5px;
    border-radius: 5px;
}

.aaviewreport__wrap .chosen-container-multi .chosen-drop{
    border: 2px solid #f0eceb;
    margin-top: 5px;
    border-radius: 5px;
}

.aaviewreport__wrap .chosen-container-multi .chosen-drop .result-selected{
    display: list-item;
    color: #ccc;
    cursor: default;
    font-size: 16px;
    font-weight: 400;
}

.aaviewreport__wrap .chosen-container .chosen-drop .chosen-search input {
    min-height: 46px;
    padding-left: 40px;
    border: 1px solid #f0eceb;
    border-radius: 6px;
    background: url(/local/aaviewreports/images/search.svg) no-repeat 10px 10px;
}

.aaviewreport__wrap  .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    font-size: 16px;
    margin: 1px 0;
    padding: 0;
    height: 25px;
    outline: 0;
    border: 0;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #495057;
    line-height: normal;
    border-radius: 0;
    width: 25px;
}

.aaviewreport__wrap .chosen-container .chosen-results li{
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 15px;
    word-wrap: break-word;
}

.aaviewreport__wrap .chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/chosen-sprite.png") no-repeat 0px 10px;
}

.aaviewreport__wrap .chosen-container-multi .chosen-choices li.search-choice {
    background: transparent;
}

.aaviewreport__wrap  .chosen-container ul.chosen-choices:hover {
    border-color: #e6dcd5;
}

.aaviewreport__wrap .chosen-container .chosen-single:hover, .aaviewreport__wrap  .chosen-container-single .chosen-single:hover {
    border-color: #e6dcd5;
}

.aaviewreport__wrap .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 10px;
}

.aaviewreport__wrap .chosen-container .chosen-drop ul.chosen-results li.active-result, .aaviewreport__wrap .path-local-dbreport #region-main .chosen-container-single .chosen-drop ul.chosen-results li.active-result {
    font-family: "Hellix","Arial",sans-serif;
    font-size: 18px;
    padding: 8px 10px;
    color: #3b424a;
}

.aaviewreport__wrap .chosen-container .chosen-drop .chosen-results .active-result {
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 46px;
    padding: .375rem .75rem;
    -webkit-transition: .15s all ease-in-out;
    -o-transition: .15s all ease-in-out;
    transition: .15s all ease-in-out;
}

.aaviewreport__wrap .chosen-container .chosen-drop .chosen-results .highlighted {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff), color-stop(90%, #fff));
    background-image: linear-gradient(#fff 20%, #fff 90%);
    color: #fff;
}

.aaviewreport__wrap  .chosen-container ul.chosen-choices {
    display: flex;
    /*align-items: center;*/
    min-height: 48px;
    padding: .375rem 1.75rem .375rem 1rem;
    color: #3b424a;
    border: 2px solid #f0eceb;
    border-radius: 6px;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.aaviewreport__wrap  .chosen-container-single .chosen-single {
    font-family: "Hellix", "Arial", sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    min-height: 48px;
    padding: .375rem 1.75rem .375rem 1rem;
    color: #495057;
    border: 2px solid #f0eceb;
    border-radius: 6px;
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.aaviewreport__wrap .chosen-container-single .chosen-single span {
    text-transform: capitalize;
}

.aaviewreport__wrap  .chosen-container-single .chosen-search input[type="text"]{
    min-height: 40px;
}


.filters_buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}

.loader__wrap {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    opacity: 0.8;
    z-index: 1000;
}

#loader {
    width: 150px;
    height: 150px;
    /*background: #fff;*/
    background-image: url("/local/aaviewreports/images/spinner.gif");
}

#clear-filters {
    cursor: pointer;
    color: #fc4710;
    margin-right: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

#clear-filters .icon-close:before,
#clear-filters .icon-close:after {
    content:'';
    position: absolute;
    left: -20px;
    top:50%;
    height: 2px;
    width: 15px;
    background: #fc4710;
}

#clear-filters .icon-close:before {
     transform: rotate(-45deg) translate(0,-50%);
 }

#clear-filters .icon-close:after {
     transform: rotate(45deg) translate(0,-50%);
}

#apply-filters {
    font-family: "Hellix Medium", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    padding: 13px 34px;
    cursor: pointer;
    -webkit-transition: .15s all ease-in-out;
    -o-transition: .15s all ease-in-out;
    transition: .15s all ease-in-out;
    text-align: center;
    letter-spacing: .22px;
    color: #fff;
    border: 2px solid;
    border-color: #fc4710;
    border-radius: 25px;
    outline: none;
    background-color: #fc4710;
}

#apply-filters:hover {
    color: #fc4710;
    border-color: #fc4710;
    background-color: transparent;
}

/* Table Styles  */
#table_aaviewreports {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    display: flex;
}

#table_aaviewreports table {
    width: 100%;
}

#table_aaviewreports table th {
    padding: 10px;
}

#table_aaviewreports table td {
    padding: 10px;
}

#table_aaviewreports table .border-top-bottom {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

#table_aaviewreports table .border-left {
    border-left: 1px solid #000 !important;
}

#table_aaviewreports table .border-right {
    border-right: 1px solid #000 !important;
}

#table_aaviewreports table .cell-grey {
    background-color: #e6e6e6;
}

/* Pagination */

.pagination__aaviewreports {
    display: flex;
    margin: 10px 0;
}

.pagination__aaviewreports .page-item {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #8c949c;
    /*background-color:#fc4710;*/
}

.pagination__aaviewreports .page-item:hover {

    background-color: #f7f7f7;
    border-radius: 50%;
}

.pagination__aaviewreports .page-item.active {
    border: 1px solid #fc4710;
    border-radius: 50%;
    color: #fff;
    background-color: #fc4710;
    cursor: auto;
}

.pagination__boxperpage label {
    margin-right: 10px;
}